body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-image, .right-image {
    width: 70px;
    height: auto;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 20px;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.month-box {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.month-box a {
    color: white;
    text-decoration: none;
}

.month-box:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
}

/* Resultados da busca */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .month-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .left-image, .right-image {
        width: 50px;
    }
}

@media (max-width: 480px) {
    .month-grid {
        grid-template-columns: 1fr;
    }
}
